BODY {
	font-family: "Times New Roman", "MS Sans Serif";
	text-decoration: none;
	background-color: white;
}

TD {
	font-family: "Times New Roman", "MS Serif";
	color: white
}

H1 {
	font-family: "Times New Roman";
	font-size: 14pt;
	color: white;
	font-style: normal;
	font-weight: bolder;
	text-align: center;
}

H2 {
	font-family: "Times New Roman";
	font-size: 12pt;
	color: white;
	font-style: normal;
	font-weight: bolder;
}

H3 {
	font-family: "Times New Roman";
	font-size: 12pt;
	color: white;
	font-style: italic  
}